<header class="header" >
  <div class="container">
   
    <div class="tabs">
      <ul class="tabs__list">
        <li class="tabs__item" data-tab="tab-1">Iphone</li>
        <li class="tabs__item" data-tab="tab-2">Ipad</li>
        <li class="tabs__item" data-tab="tab-3">Часы</li>
       </ul>

       <div class="tabs__content" data-tab-content id="tab-1">
        <ul class="card-list">
          <li class="card-item">
            <img class="card-img" src="assets/img/iphone.jpg" alt="">
            <p class="card-name">Смартфон Apple Iphone 14 128GB, фиолетовый</p>
          </li>
          <li class="card-item">
            <img class="card-img" src="assets/img/iphone.jpg" alt="">
            <p class="card-name">Смартфон Apple Iphone 14 128GB, фиолетовый</p>
          </li>
          <li class="card-item">
            <img class="card-img" src="assets/img/iphone.jpg" alt="">
            <p class="card-name">Смартфон Apple Iphone 14 128GB, фиолетовый</p>
          </li>
          <li class="card-item">
            <img class="card-img" src="assets/img/iphone.jpg" alt="">
            <p class="card-name">Смартфон Apple Iphone 14 128GB, фиолетовый</p>
          </li>
          <li class="card-item">
            <img class="card-img" src="assets/img/iphone.jpg" alt="">
            <p class="card-name">Смартфон Apple Iphone 14 128GB, фиолетовый</p>
          </li>
          <li class="card-item">
            <img class="card-img" src="assets/img/iphone.jpg" alt="">
            <p class="card-name">Смартфон Apple Iphone 14 128GB, фиолетовый</p>
          </li>
        </ul>
       </div>


       <div class="tabs__content hidden" data-tab-content id="tab-2">
        <ul class="card-list">
          <li class="card-item">
            <img class="card-img" src="assets/img/ipad.png" alt="">
            <p class="card-name">Планшет Apple iPad (2021) 64Gb Wi-Fi, серый космос</p>
          </li>
          <li class="card-item">
            <img class="card-img" src="assets/img/ipad.png" alt="">
            <p class="card-name">Планшет Apple iPad (2021) 64Gb Wi-Fi, серый космос</p>
          </li>
          <li class="card-item">
            <img class="card-img" src="assets/img/ipad.png" alt="">
            <p class="card-name">Планшет Apple iPad (2021) 64Gb Wi-Fi, серый космос</p>
          </li>
          <li class="card-item">
            <img class="card-img" src="assets/img/ipad.png" alt="">
            <p class="card-name">Планшет Apple iPad (2021) 64Gb Wi-Fi, серый космос</p>
          </li>
          <li class="card-item">
            <img class="card-img" src="assets/img/ipad.png" alt="">
            <p class="card-name">Планшет Apple iPad (2021) 64Gb Wi-Fi, серый космос</p>
          </li>
          <li class="card-item">
            <img class="card-img" src="assets/img/ipad.png" alt="">
            <p class="card-name">Планшет Apple iPad (2021) 64Gb Wi-Fi, серый космос</p>
          </li>
        </ul>
       </div>



       <div class="tabs__content hidden" data-tab-content id="tab-3">
        <ul class="card-list">
          <li class="card-item">
            <img class="card-img" src="assets/img/watch.jpg" alt="">
            <p class="card-name">Apple Watch Ultra Titanium Case with Green Alpine Loop</p>
          </li>
          <li class="card-item">
            <img class="card-img" src="assets/img/watch.jpg" alt="">
            <p class="card-name">Планшет Apple iPad (2021) 64Gb Wi-Fi, серый космос</p>
          </li>
          <li class="card-item">
            <img class="card-img" src="assets/img/watch.jpg" alt="">
            <p class="card-name">Планшет Apple iPad (2021) 64Gb Wi-Fi, серый космос</p>
          </li>
          <li class="card-item">
            <img class="card-img" src="assets/img/watch.jpg" alt="">
            <p class="card-name">Планшет Apple iPad (2021) 64Gb Wi-Fi, серый космос</p>
          </li>
          <li class="card-item">
            <img class="card-img" src="assets/img/watch.jpg" alt="">
            <p class="card-name">Планшет Apple iPad (2021) 64Gb Wi-Fi, серый космос</p>
          </li>
          <li class="card-item">
            <img class="card-img" src="assets/img/watch.jpg" alt="">
            <p class="card-name">Планшет Apple iPad (2021) 64Gb Wi-Fi, серый космос</p>
          </li>
        </ul>
       </div>


    </div>
    
    <div class="list-group">
			<div class="list-group-item list-header" data-name="accordeon-title">
				Блок 1. Заголовок
			</div>
			<div class="list-group-item list-content hidden">
				<h5>Блок 1. Контент</h5>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis natus praesentium
				nulla illum mollitia unde quo reprehenderit deserunt, impedit eos nemo magnam soluta
				distinctio adipisci maxime tenetur voluptatem at qui.
			</div>

			<div class="list-group-item list-header" data-name="accordeon-title">
				Блок 2. Заголовок
			</div>
			<div class="list-group-item list-content hidden">
				<h5>Блок 2. Контент</h5>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis natus praesentium
				nulla illum mollitia unde quo reprehenderit deserunt, impedit eos nemo magnam soluta
				distinctio adipisci maxime tenetur voluptatem at qui.
			</div>

			<div class="list-group-item list-header" data-name="accordeon-title">
				Блок 3. Заголовок
			</div>
			<div class="list-group-item list-content hidden">
				<h5>Блок 3.Контент</h5>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis natus praesentium
				nulla illum mollitia unde quo reprehenderit deserunt, impedit eos nemo magnam soluta
				distinctio adipisci maxime tenetur voluptatem at qui.
			</div>

			<div class="list-group-item list-header" data-name="accordeon-title">
				Блок 4. Заголовок
			</div>
			<div class="list-group-item list-content hidden">
				<h5>Блок 4.Контент</h5>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis natus praesentium
				nulla illum mollitia unde quo reprehenderit deserunt, impedit eos nemo magnam soluta
				distinctio adipisci maxime tenetur voluptatem at qui.
			</div>
		</div>

  </div>
</header>
